/* Estilos para el modal con fondo transparente */
.modal-transparente {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo con transparencia */
  }

.modal-content {
    border: 0!important;
    outline: none;
    margin: 1rem; 
  }


.modal-dialog{
  border-radius: 0!important;
  width: 650px;
  align-self: center;
  justify-self: center;
}

.modal-lg{
  border-radius: 0!important;
}

/* .modal{
  margin: 1rem;
} */

.modal-content  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
  
/* .btn-close-modal{
  border: solid 1px rgb(49, 49, 49);
} */
.btn-close-modal:hover{
  background-color: rgb(189, 186, 186);
}

.modal_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-body{
  border: none!important;
  outline: none!important;
}

.modal_body{
  border: none;
}

.modal-title{
  align-self: center;
}

.close{
  position: absolute;
  right: 0rem;
  cursor: pointer;
  color: black;
  transition: color .2s ease;

  &:hover{
    color: var(--green-copal);
    transition: color .2s ease;
  }
}

.modal-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
